body 	{
    background-color: grey;
		}

p 	{
	color: blue;
	}

.black	{
	color:black;
		}

.violet	{
	color:violet;
		}

.aqua	{
	color:aqua;
		}

.pink	{
	color:pink;
		}

.purple	{
	color:purple;
		}

.blueviolet	{
	color:blueviolet;
			}

.green 	{
	color: green;
		}
